{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Node IMG</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus consequuntur laborum vel consectetur doloribus! Impedit placeat assumenda debitis harum vitae eaque repudiandae, asperiores voluptas dolore culpa distinctio dolor hic alias.
        </p>
    </div>
     <div class="col-8">
        <img src="assets/img/node-logo.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}

    